log/*.log
tmp/**/*
obj
bin
/src/Build
/src/Release
doc/thesis-master.pdf
_ReSharper
*.g.cs
*.dll
*.resharper.user
*.resharper
*.csproj.user
*.suo
*.cache
*~
*.swp
*.cubin
/src/aCuda/aCudaResearch/_*
/src/aCuda/aCudaResearch/UpgradeLog.XML